﻿
<form method="post" action ="SendText"   enctype="multipart/form-data">
    <label>Текст:</label><br />
    <input type="text" name="text" /><br /><br />
    <input type="submit" value="Отправить" />
    <h2>@ViewBag.Message</h2>
</form>
